.stats{
   	background:lightpink;
   	display:inline-block;
   	max-width:200px;
   	padding:20px;
   	margin:10px;
   	border-radius:10px;
   	text-align: center;
}

.totalEventBadge{
	background:lightblue;
}
.rendererOpt {
    margin: 6px 0;
    padding: 6px 0;
}
.rendererOpt:first-child {
    margin-top: 0;
    padding-top: 0;
}
